main {
	padding-top: 100px;
}

main.row {
	margin-bottom: 20px;
}

header {
	background-color: orange;
}

img {
	max-width: 100%;
}

.row {
	margin-bottom: 20px;
}

.box {
	padding-top: 30px;
	padding-bottom: 30px;
}

.card {
	border: 1px solid lightgray;
}

.name {
	padding: 20px;
}